


.majorContainer{
  display:flex;
  Border:solid black;
  height: 900px;
  width:800px;


}
.leftContainer{
  width: 50%;
  border:solid black

}
.rightContainer{
  width: 50%;
  border:solid black

}
.pic{
  height: 200px;
  width: 200px;
  margin-left: 60px;
  border-radius: 100px;
}
.pic2{
  height: 200px;
  width: 200px;
  margin-left: 60px;
  border-radius: 100px;

}